<!DOCTYPE html>
<html lang="en" xmlns:th="www.thyleaf.org">
	<header th:replace="~{layout::layout-header}"></header>
	<body>
		<nav th:replace="~{layout::layout-navbar}"></nav>
		<main class="inicio">
		    <h1 class="titulo">App Camiones</h1>
			
			<section>
				<ul class="inicio__lista">
					<li class="inicio__lista__elemento">camioneros: <span th:text="${camioneros}"></span></li>
		            <li class="inicio__lista__elemento">camiones: <span th:text="${camiones}"></span></li>
		            <li class="inicio__lista__elemento">ciudades: <span th:text="${ciudades}"></span></li>
		            <li class="inicio__lista__elemento">paquetes: <span th:text="${paquetes}"></span></li>
		            <li class="inicio__lista__elemento">viajes: <span th:text="${viajes}"></span></li>
				</ul>
			</section>
		</main>
	</body>
	<footer th:replace="~{layout::layout-footer}"></footer>
</html>